@use "variaveis"; // Importa o arquivo variáveis.scss

.hero {
    padding: 60px 0;
    min-height: 600px;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.7)), url(../images/Hero_DS.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

    .container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-right: 18px;
    }

    a {
        text-decoration: none;;
    }

    &__content {
        max-width: 650px;
        text-align: right;
    }

        &__title {
        font-family: variaveis.$fonteTitulos;
        font-size: 64px;
        color: #fff;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
        margin-top: 16px;
        margin-bottom: 32px;
        white-space: nowrap;
    }

    &__text {
        font-family: variaveis.$fonteParagrafo;
        font-size: 18px;
        color: #fff;
        margin-bottom: 32px;
        line-height: 1.6;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
        max-width: 45ch;
    }
}

.btn__primario { // Classe para o botão do Header
        background-color: variaveis.$corBotao; // Define a cor de fundo do botão pegando a cor de variaveis
        color: variaveis.$corTextoBotao; // Define a cor do texto do botão pegando a cor de variaveis
        border-radius: 5px; // Define o arredondamento do botão
        border: none; // Exclui a borda do botão
        padding: 12px 24px; // Protege o centeúdo em telas de celular (Usar para que o botão acompanhe o texto dentro)
        min-width: 180px; // Minimo da largura do botão
        display: inline-block; // Mantém o texto do botão na mesma linha
        text-align: center; // Alinha os textos no centro
        cursor: pointer; // Muda o cursor para o estado de clicável
        transition: 0.3s; // Deixa a mudança de cor do botão suave
            &:hover { // Sombreamento do botão
                background-color: rgba(variaveis.$corDeFundo, 0.5); // Muda a cor de fundo do botão ao passar o mouse
                box-shadow: 0 0 15px rgba(255, 0, 0, 0.5); // Adiciona uma sombra atrás do botão 
            }    
    }

