@use"variaveis";  
@use "header";
@use "hero";
@use "characters";
@use "trailer";
@use "footer";
@use "mobile";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    background-color: variaveis.$corDeFundo;
}