@use"variaveis";  
@use "header";
@use "hero";
@use "characters";
@use "trailer";
@use "footer";
@use "mobile";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body,html {
    background-color: variaveis.$corDeFundo;
    overflow-x: hidden; // Impede qualquer coisa de vazar para os lados
    width: 100%;
}

